/* src/styles/global.css */
@import "tailwindcss";

[data-animate-on-scroll] {
  opacity: 0;
  transform: translateY(2rem); /* Start 2rem lower */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-animate-on-scroll].is-visible {
  opacity: 1;
  transform: translateY(0);
}